@model IEnumerable<AnyChat.Models.Room>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublicRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublicRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RoomId }) |
                @Html.ActionLink("Details", "Details", new { id=item.RoomId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RoomId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
